PORT=5000

DB_SERVER_Name=
DB_SERVER_PORT=
DB_NAME=vts
DB_USER=
DB_PASSWORD=
MONGODB_SERVER_URI=mongodb://192.168.1.50:27017


                     

# MONGODB_SERVER_URI=mongodb://103.12.1.132:8195
MONGODB_SERVER_URI=
# MONGO_DB_NAME="Inventory11DecBackup"
# for seconds 6000 = 6 second "1h" = 1 hours
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
JWTOKEN_ISSUER_NAME=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

EMAIL_USER=
EMAIL_PASS=

GOOGLE_CAPTCHA_SECRET_KEY=