<?xml version="1.0" encoding="utf-8"?>


<configuration>
  <system.webServer>
    <!-- <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers> -->

  

    
    <rewrite>
    <!-- this rule is imp and do not forget to add index.js in Handler mappings -->
      <rules>
        <rule name="Node.js Routing" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security> -->
    <!-- <iisnode loggingEnabled="true" />
    <httpErrors errorMode="Detailed" /> -->

    
  </system.webServer>
</configuration>
