<?xml version="1.0" encoding="utf-8"?>


<configuration>
  <system.webServer>

    <!-- Environment Variables Section -->
    <aspNetCore>
      <environmentVariables>
        <environmentVariable name="MONGODB_SERVER_URI" value="mongodb://160.25.62.109:8109" />
        <environmentVariable name="DB_NAME" value="vts" />
        <environmentVariable name="ACCESS_TOKEN_SECRET" value="c52fdfad5c524c5ee3c4f06f8b764ec380a6d9dc6ff2da5e674f164dad25357d" />
        <environmentVariable name="ACCESS_TOKEN_EXPIRY" value="1h" />
        <environmentVariable name="JWTOKEN_ISSUER_NAME" value="www.vtsMSSPL.com" />
        <environmentVariable name="REFRESH_TOKEN_SECRET" value="79e689c28d197639335fa8c40fa51d89e1c15e42ef55160b0a6e0da458937312" />
        <environmentVariable name="REFRESH_TOKEN_EXPIRY" value="7d" />
      </environmentVariables>
    </aspNetCore>


    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

  

    
    <rewrite>
    <!-- this rule is imp and do not forget to add index.js in Handler mappings -->
      <rules>
        <rule name="Node.js Routing" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security> -->
    <!-- <iisnode loggingEnabled="true" />
    <httpErrors errorMode="Detailed" /> -->

    
  </system.webServer>
</configuration>
